include mixins

doctype html
html(ng-app='escapeApp')
	head
		meta(charset='UTF-8')
		meta(name='description', content='A game of escape')
		meta(name='author', content='Moritz Company')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name='apple-mobile-web-app-capable' content='yes')
		meta(name='apple-touch-fullscreen' content='yes')
		title Control Panel - The Game Escape
		link(rel='shortcut icon', href='favicon.ico')
		link(rel='stylesheet', href='inc/escape.css?v=19')
		script(src='inc/angular.js')
	body#escape-session(ng-cloak, ng-controller='SessionCtrl', ng-class="{'locked-out': activeTeam && activeTeam.lockoutStarted, 'times-up': timesUp, 'not-started': activeTeam && !activeTeam.timerStarted}")
		#previous-messages-modal.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						button.close(data-dismiss='modal' aria-label='close')
							span(aria-hidden='true') &times;
						h4.modal-title All Messages
					.modal-body
						p(ng-repeat='message in activeTeam.storedMessages') {{message.text}}
					.modal-footer
						button.btn.btn-lg.btn-default(data-dismiss='modal') Close
		#keypad-modal.modal.fade
			.modal-dialog.modal-sm
				.modal-content
					.modal-header
						button.close(data-dismiss='modal' aria-label='close')
							span(aria-hidden='true') &times;
						h4.modal-title Enter the correct code to escape
					.modal-body
					.modal-footer
						button.btn.btn-lg.btn-default(data-dismiss='modal') Close
		#video-modal.modal.fade
			.modal-dialog.modal-lg
				.modal-content
					.modal-header
						button.close(data-dismiss='modal' aria-label='close')
							span(aria-hidden='true') &times;
						h4.modal-title Introduction Video
					.modal-body.video-wrapper
						img.after-video(src='img/intro.jpg' hidden)
						video#intro-video(poster='img/intro.jpg' preload='auto') Your browswer does not support the video tag
							source(src='img/intro-video.mp4' type='video/mp4')
					.modal-footer
						button.btn.btn-lg.btn-default(data-dismiss='modal') Done
		#hint-modal.modal.fade
			.modal-dialog.modal-sm
				.modal-content
					.modal-header
						button.close(data-dismiss='modal' aria-label='close')
							span(aria-hidden='true') &times;
						h4.modal-title Would you like to {{activeTeam.hints ? 'use' : 'request'}} a hint?
					.modal-body
						.medal.pull-right(ng-if='activeTeam')
							img(ng-src='{{status[activeTeam.status].path}}' title='{{status[activeTeam.status].text}}')
							p.medal-title {{status[activeTeam.status].text}}
						div(ng-hide='activeTeam.hints')
							div(ng-hide='activeTeam.status == status.length - 1')
								p Your team is currently holding {{status[activeTeam.status].text}} status. Requesting a hint will bring your team to {{status[activeTeam.status + 1].text}} status.
							div(ng-show='activeTeam.status == status.length - 1')
								p This will not affect your team's {{status[activeTeam.status].text}} status.
						div(ng-show='activeTeam.hints')
							p Your team currently has {{activeTeam.hints}} {{activeTeam.hints > 1 ? 'hints' : 'hint'}} available for use. This will not affect your team's {{status[activeTeam.status].name}} status.
					.modal-footer
						button.btn.btn-default.btn-lg.pull-left(data-dismiss='modal') #[i.fa.fa-times-circle] Nah
						button.btn.btn-success.btn-lg(data-dismiss='modal' ng-click='requestHint()') #[i.fa.fa-question-circle] YES!
		.container
			header.hide
				h1 Control Panel - The Game Escape
			.jumbotron
				h1.digital.text-center(ng-hide='activeTeam')
					span Loading #[i.fa.fa-spinner.fa-pulse]
				.row.times-up-hide(ng-if='curMsg && activeTeam && !activeTeam.finished')
					+col(4, 2, 2).medal(ng-if='activeTeam' ng-click='speak()')
						p {{status[activeTeam.status].text}}
						img.img-responsive(ng-src='{{status[activeTeam.status].path}}' title='{{status[activeTeam.status].text}}')
					+col(10, 7, 8)(ng-class="{'col-sm-offset-2': !activeTeam}")
						h1.digital.text-center
							span(ng-show='activeTeam') {{moment(timeRemaining * 1000).format('mm:ss')}}
						.display-message
							h3(ng-if='curMsg' ng-show='activeTeam') #[i.fa.fa-volume-up.btn.btn-danger(ng-click='speak()')] {{curMsg.display}}
					+col(2, 3, 2).major-buttons.hidden-xs.visible-ms-block(ng-if='!isSolved(q.jigsaw)')
						ul
							li
								button.btn.btn-success(data-toggle='modal' data-target='#video-modal' ng-show='activeTeam && activeTeam.timerStarted') #[i.fa.fa-2x.fa-video-camera]#[br] Intro Video
							li
								button.btn.btn-info(data-toggle='modal' data-target='#previous-messages-modal' ng-show='activeTeam') #[i.fa.fa-2x.fa-comments-o]#[br] Messages
							li
								button.btn.hide-cluebook(class="{{activeTeam.hints ? 'btn-success' : 'btn-danger'}}" data-toggle='modal' data-target='#hint-modal' ng-show='activeTeam && !activeTeam.hintInProgress') #[i.fa.fa-2x.fa-question-circle]#[br] {{activeTeam.hints ? 'Use Hint' : 'Request Hint'}}
				section.times-up-hide(ng-show='activeTeam && !activeTeam.finished')
					#jigsaw.hidden-xs
						button.btn.btn-warning.hide-cluebook(data-toggle='modal' data-target='#keypad-modal' ng-show='!activeTeam.lockoutStarted') #[i.fa.fa-sign-out] Escape the Room
					.visible-xs-block.visible-xs-only.text-center
						button.btn.btn-success(data-toggle='modal' data-target='#video-modal' ng-show='activeTeam && activeTeam.timerStarted') #[i.fa.fa-2x.fa-video-camera]
						button.btn.btn-info(data-toggle='modal' data-target='#previous-messages-modal' ng-show='activeTeam') #[i.fa.fa-2x.fa-comments-o]
						button.btn.hide-cluebook(class="{{activeTeam.hints ? 'btn-success' : 'btn-danger'}}" data-toggle='modal' data-target='#hint-modal' ng-show='activeTeam && !activeTeam.hintInProgress') #[i.fa.fa-2x.fa-question-circle]
						button.btn.btn-warning.hide-cluebook(data-toggle='modal' data-target='#keypad-modal' ng-show='!activeTeam.lockoutStarted') #[i.fa.fa-2x.fa-sign-out]
					input.numeric-keypad.form-control(type='text' ng-model='q.jigsaw.guess' name='jigsaw' maxlength='5' hidden)
				#you-win.times-up-hide.row(ng-if='activeTeam.finished')
					+col(null, 4, null, 4)
						img.img-responsive.centered(ng-src='{{status[activeTeam.status].path}}' title='{{status[activeTeam.status].text}}')
					+col(null, 8, null, 8).display-message.text-center
						h2 You win!#[br] You've escaped the room!
						h4 You have completed your mission with #[strong {{status[activeTeam.status].text}}] status, escaping the room with #[strong {{moment(timeRemaining * 1000).format('m')}}] minutes and #[strong {{moment(timeRemaining * 1000).format('s')}}] seconds remaining.
						h3 #[strong Congratulations {{activeTeam.name}}!!]
				#times-up.times-up-show
					h1.digital.text-center
						span(ng-show='activeTeam') {{moment(timeRemaining * 1000).format('mm:ss')}}
					.display-message.text-center
						h2 Time's Up {{activeTeam.name}}!#[br] You didn't escaped the room
						h4 Thanks for playing and we hope you enjoyed#[br] The Game Escape
				#start-game
					.display-message.text-center
						h2 Welcome {{activeTeam.name}}!
						.start-button.btn.btn-success(ng-click='startGame()') #[i.fa.fa-youtube-play]
			#game.times-up-hide(ng-if='activeTeam && !isSolved(q.jigsaw)')
				#lockout(ng-show='activeTeam.lockoutStarted')
					h3 Locked Out!
					img.img.img-responsive.lockout-image(ng-src='{{lockoutImages[activeTeam.lockoutIndex]}}')
					h4 You have submitted an incorrect answer.#[br] You are locked out of the Control Panel for #[strong {{lockoutTimeRemaining}}] seconds.
				#questions.row(ng-hide='activeTeam.lockoutStarted')
					+col(null, 6, 6)
						h3 Team: {{activeTeam.name}}
						ul.button-list.unsolved-list.hide-cluebook
							li(ng-repeat='(id, obj) in q' class='{{id}}-icon unsolved' ng-if="id !== 'jigsaw' && !isSolved(id) && isAvailable(obj)")
								a(ng-click='setActivePuzzle(id)')
									+squaredIcon('obj.icon')
						.clearfix
						h4 Solved:
						ul.button-list.solved-list
							li(ng-repeat='(id, obj) in q' ng-if='isSolved(id)' class='{{id}}-icon solved')
								a(ng-click='setActivePuzzle(id)')
									+squaredIcon('obj.icon')
									i(class='fa fa-{{obj.nextClue.lockIcon}} tiny-icon' ng-show='isSolved(id)')
					.clearfix.visible-xs-block.visible-xs-only
					hr.visible-xs-block.visible-xs-only
					+col(null, 6, 6)
						+clueHead('operation', 'What kind of Operation is this?')
							div(ng-if='!isSolved(q.operation)')
								label &nbsp;
								input.form-control(type='text' ng-model='q.operation.guess')
						+clueHead('monopoly', 'What happened?')
							div(ng-if='!isSolved(q.monopoly)')
								label Where did I stay?
								input.form-control(type='text' ng-model='q.monopoly.splitGuess.property')
								label How much money did I have left?
								input.form-control(type='tel' ng-model='q.monopoly.splitGuess.money')
						+clueHead('yahtzee', 'What did I roll?')
							div(ng-if='!isSolved(q.yahtzee)')
								label &nbsp;
								ul.list-inline
									li(ng-repeat='gDie in q.yahtzee.guessedDice track by $index')
										img(ng-src="{{'img/dice/' + gDie + 'c.gif'}}" ng-click='removeDie(q.yahtzee, $index)' alt='{{gDie}}')
									li(ng-repeat='num in _.range(0, (5 - q.yahtzee.guessedDice.length))') _____
								p Choose all 5 dice that I rolled
								.btn-group
									button.btn.btn-info(
										ng-repeat='die in q.yahtzee.dice',
										ng-click='addDie(q.yahtzee, die)')
										img(ng-src="{{'img/dice/' + die + 'c.gif'}}" alt='{{die}}')
						+clueHead('scrabble', 'What SCRABBLE word did I spell?')
							div(ng-if='!isSolved(q.scrabble)')
								label &nbsp;
								input.form-control(type='text' ng-model='q.scrabble.guess')
						+clueHead('battleship', 'Battleship')
							div(ng-if='!isSolved(q.battleship)')
								table.battleship
									thead
										tr
											th
											th(ng-repeat='col in q.battleship.columns') {{col}}
									tbody
										tr(ng-repeat='row in q.battleship.rows')
											th {{row.toUpperCase()}}
											td(ng-repeat='col in q.battleship.columns',
												ng-class='{active: isCoordSelected(q.battleship, row + col)}',
												ng-click='toggleCoordSelect(q.battleship, row + col)') #[i.fa.fa-circle]
						+clueHead('clue', 'Who killed Mr. Boddy?')
							div(ng-if='!isSolved(q.clue)')
								label Who?
								select.form-control(ng-model='q.clue.splitGuess.who' ng-options='who as who for who in q.clue.suspects')
									option(value='' disabled ng-if='!q.clue.splitGuess.who') Suspect...
								label With what?
								select.form-control(ng-model='q.clue.splitGuess.what' ng-options='what as what for what in q.clue.weapons')
									option(value='' disabled ng-if='!q.clue.splitGuess.what') Weapon...
								label Where?
								select.form-control(ng-model='q.clue.splitGuess.where' ng-options='where as where for where in q.clue.rooms')
									option(value='' disabled ng-if='!q.clue.splitGuess.where') Room...
						+clueHead('guessWho', 'Can you Guess Who I am?')
							div(ng-if='!isSolved(q.guessWho)')
								label &nbsp;
								input.form-control(type='text' ng-model='q.guessWho.guess')
						+clueHead('chess', 'Where should black move next?')
							div(ng-if='!isSolved(q.chess)')
								table.chess
									tbody
										tr(ng-repeat='row in q.chess.rows')
											th {{row}}
											td(ng-repeat='col in q.chess.columns',
												ng-class='{active: isCoordSelected(q.chess, col + row)}',
												ng-click='toggleCoordSelect(q.chess, col + row)')
									tfoot
										tr
											th
											th(ng-repeat='col in q.chess.columns') {{col}}
						+clueHead('gameJumble', 'What company was founded in 1883?')
							div(ng-if='!isSolved(q.gameJumble)')
								label &nbsp;
								input.form-control(type='text' ng-model='q.gameJumble.guess' maxlength='{{q.gameJumble.answers[0].length}}')
						+clueHead('texasHoldEm', 'Who is the Big Winner?')
							div(ng-if='!isSolved(q.texasHoldEm)')
								.row
									+col(6)
										label First Name
										input.form-control(type='text' ng-model='q.texasHoldEm.splitGuess.word1')
									+col(6)
										label Last Name
										input.form-control(type='text' ng-model='q.texasHoldEm.splitGuess.word2')
						+clueHead('connect4', 'Which column should Red choose?', true)
							div(ng-if='!isSolved(q.connect4)')
								iframe.connect4game.collapse.in.centered(src='html/connect4.html' width='354px' height='354px' scrolling='no')
						+clueHead('fiveRoutes', 'Put the animals in order from the shortest route to the longest route')
							div(ng-if='!isSolved(q.fiveRoutes)')
								label &nbsp;
								ul.list-inline
									li(ng-repeat='oAnimal in q.fiveRoutes.orderedAnimals')
										.panel.panel-info
											.panel-heading #[.panel-title {{$index + 1}}]
											.panel-body
												img.invert-color(ng-src="{{'img/five-routes-' + oAnimal + '.png'}}" alt='{{oAnimal}}')
									li(ng-repeat='num in _.range(q.fiveRoutes.orderedAnimals.length, q.fiveRoutes.animals.length)')
										.panel.panel-info
											.panel-heading #[.panel-title {{num + 1}}]
											.panel-body
								.btn-group
									button.btn.btn-default(
										ng-repeat='animal in q.fiveRoutes.animals',
										ng-click='toggleAnimalSelect(q.fiveRoutes, animal)',
										ng-class='{active: _.includes(q.fiveRoutes.orderedAnimals, animal)}')
										img(ng-src="{{'img/five-routes-' + animal + '.png'}}" alt='{{animal}}')
						+clueHead('wordFind', 'Answer the Word Find riddle below...')
							div(ng-if='!isSolved(q.wordFind)')
								label "Not European":
								.row
									+col(6)
										input.form-control(type='text' ng-model='q.wordFind.splitGuess.word1' maxlength='{{q.wordFind.answers[0].split(\' \')[0].length}}')
									+col(6)
										input.form-control(type='text' ng-model='q.wordFind.splitGuess.word2' maxlength='{{q.wordFind.answers[0].split(\' \')[1].length}}')
						+clueHead('taboo', 'Which word is Taboo?')
							div(ng-if='!isSolved(q.taboo)')
								label &nbsp;
								input.form-control(type='text' ng-model='q.taboo.guess')
		| @@javascriptReplaceFiles
