include mixins

doctype html
html(ng-app='escapeApp')
	head
		meta(charset='UTF-8')
		meta(name='description', content='A game of escape')
		meta(name='author', content='Moritz Company')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Control Panel - The Game Escape
		link(rel='shortcut icon', href='favicon.ico')
		link(rel='stylesheet', href='inc/escape.css')
		script(src='inc/angular.js')
	body(ng-cloak, ng-controller='SessionCtrl')
		#previousMessagesModal.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						button.close(data-dismiss='modal' aria-label='close')
							span(aria-hidden='true') &times;
						h4.modal-title All Messages
					.modal-body
						p(ng-repeat='message in activeTeam.storedMessages') {{message.text}}
					.modal-footer
						button.btn.btn-default(data-dismiss='modal') Close
		.container
			header.hide
				h1 Control Panel - The Game Escape
			.jumbotron
				h1.digital
					span(ng-hide='activeTeam') Loading
						i.fa.fa-spinner.fa-pulse
					span(ng-show='activeTeam') {{moment(timeRemaining * 1000).format('mm:ss')}}
				.displayMessage
					h3.digital(ng-if='curMsg') {{curMsg.display}}
				button.btn.btn-primary(ng-click='restartTimer()' ng-show='admin') Restart Timer
				button.btn.btn-info(data-toggle='modal' data-target='#previousMessagesModal' ng-show='activeTeam') Show All Messages
			#game(ng-show='activeTeam')
				h3 Team: {{activeTeam.name}}
				.row
					+col(null, 6, 4)(ng-show='isSolved(q.operation.prerequisite)' id='{{_.kebabCase(q.operation.name)}}')
						h4 Question
							+squaredIcon('q.operation.icon')
							em(ng-show='isSolved(q.operation)') ({{q.operation.display || mc.camelToTitle(q.operation.name)}})
						div(ng-if='!isSolved(q.operation)')
							label.sr-only What kind of Operation is this?
							input.form-control(type='text' ng-model='q.operation.guess' placeholder='What kind of Operation is this?')
							button.btn.btn-primary(ng-click='submitGuess(q.operation)') #[i.fa.fa-lightbulb-o] Submit
						+solvedSection('q.operation')
					+col(null, 6, 4)(ng-show='isSolved(q.monopoly.prerequisite)' id='{{_.kebabCase(q.monopoly.name)}}')
						h4 Question
							+squaredIcon('q.monopoly.icon')
							em(ng-show='isSolved(q.monopoly)') ({{q.monopoly.display || mc.camelToTitle(q.monopoly.name)}})
						div(ng-if='!isSolved(q.monopoly)')
							label.sr-only Where did I stay?
							input.form-control(type='text' ng-model='q.monopoly.splitGuess.property' placeholder='Where did I stay?')
							label.sr-only How much money did I have left?
							input.form-control(type='text' ng-model='q.monopoly.splitGuess.money' placeholder='How much money did I have left?')
							button.btn.btn-primary(ng-click='submitGuessSpecial(q.monopoly)') #[i.fa.fa-lightbulb-o] Submit
						+solvedSection('q.monopoly')
					+col(null, 6, 4)(ng-show='isSolved(q.yahtzee.prerequisite)' id='{{_.kebabCase(q.yahtzee.name)}}')
						h4 Question
							+squaredIcon('q.yahtzee.icon')
							em(ng-show='isSolved(q.yahtzee)') ({{q.yahtzee.display || mc.camelToTitle(q.yahtzee.name)}})
						div(ng-if='!isSolved(q.yahtzee)')
							label What did I roll?
							select.form-control(escape-ddslick ng-model='q.yahtzee.splitGuess.die1')
								option(ng-repeat='die in _.range(1, 7)' value='{{die}}' ng-attr-data-imagesrc='{{"http://dobbelsteen.virtuworld.net/img/" + die + "c.gif"}}')
							select.form-control(escape-ddslick ng-model='q.yahtzee.splitGuess.die2')
								option(ng-repeat='die in _.range(1, 7)' value='{{die}}' ng-attr-data-imagesrc='{{"http://dobbelsteen.virtuworld.net/img/" + die + "c.gif"}}')
							button.btn.btn-primary(ng-click='submitGuessSpecial(q.yahtzee)') #[i.fa.fa-lightbulb-o] Submit
						+solvedSection('q.yahtzee')
					+col(null, 6, 4)(ng-show='isSolved(q.scrabble.prerequisite)' id='{{_.kebabCase(q.scrabble.name)}}')
						h4 Question
							+squaredIcon('q.scrabble.icon')
							em(ng-show='isSolved(q.scrabble)') ({{q.scrabble.display || mc.camelToTitle(q.scrabble.name)}})
						div(ng-if='!isSolved(q.scrabble)')
							label.sr-only What SCRABBLE word did I spell?
							input.form-control(type='text' ng-model='q.scrabble.guess' placeholder='What SCRABBLE word did I spell?')
							button.btn.btn-primary(ng-click='submitGuess(q.scrabble)') #[i.fa.fa-lightbulb-o] Submit
						+solvedSection('q.scrabble')
					+col(null, 6, 4)(ng-show='isSolved(q.battleship.prerequisite)' id='{{_.kebabCase(q.battleship.name)}}')
						h4 Question
							+squaredIcon('q.battleship.icon')
							em(ng-show='isSolved(q.battleship)') ({{q.battleship.display || mc.camelToTitle(q.battleship.name)}})
						div(ng-if='!isSolved(q.battleship)')
							table.battleship
								thead
									tr
										th
										th(ng-repeat='col in q.battleship.columns') {{col}}
								tbody
									tr(ng-repeat='row in q.battleship.rows')
										th {{row.toUpperCase()}}
										td(ng-repeat='col in q.battleship.columns',
											ng-class='{active: isCoordSelected(q.battleship, row + col)}',
											ng-click='toggleCoordSelect(q.battleship, row + col)') #[i.fa.fa-circle]
							button.btn.btn-primary(ng-click='submitGuessSpecial(q.battleship)') #[i.fa.fa-lightbulb-o] Submit
						+solvedSection('q.battleship')
					+col(null, 6, 4)(ng-show='isSolved(q.clue.prerequisite)' id='{{_.kebabCase(q.clue.name)}}')
						h4 Question
							+squaredIcon('q.clue.icon')
							em(ng-show='isSolved(q.clue)') ({{q.clue.display || mc.camelToTitle(q.clue.name)}})
						div(ng-if='!isSolved(q.clue)')
							label Who?
							select.form-control(ng-model='q.clue.splitGuess.who' ng-options='who as who for who in q.clue.suspects')
								option(value='' disabled ng-if='!q.clue.splitGuess.who') Suspect...
							label With what?
							select.form-control(ng-model='q.clue.splitGuess.what' ng-options='what as what for what in q.clue.weapons')
								option(value='' disabled ng-if='!q.clue.splitGuess.what') Weapon...
							label Where?
							select.form-control(ng-model='q.clue.splitGuess.where' ng-options='where as where for where in q.clue.rooms')
								option(value='' disabled ng-if='!q.clue.splitGuess.where') Room...
							button.btn.btn-primary(ng-click='submitGuessSpecial(q.clue)') #[i.fa.fa-lightbulb-o] Submit
						+solvedSection('q.clue')
					+col(null, 6, 4)(ng-show='isSolved(q.guessWho.prerequisite)' id='{{_.kebabCase(q.guessWho.name)}}')
						h4 Question
							+squaredIcon('q.guessWho.icon')
							em(ng-show='isSolved(q.guessWho)') ({{q.guessWho.display || mc.camelToTitle(q.guessWho.name)}})
						div(ng-if='!isSolved(q.guessWho)')
							label.sr-only Guess Who?
							input.form-control(type='text' ng-model='q.guessWho.guess' placeholder='Guess Who?')
							button.btn.btn-primary(ng-click='submitGuess(q.guessWho)') #[i.fa.fa-lightbulb-o] Submit
						+solvedSection('q.guessWho')
					+col(null, 6, 4)(ng-show='isSolved(q.chess.prerequisite)' id='{{_.kebabCase(q.chess.name)}}')
						h4 Question
							+squaredIcon('q.chess.icon')
							em(ng-show='isSolved(q.chess)') ({{q.chess.display || mc.camelToTitle(q.chess.name)}})
						div(ng-if='!isSolved(q.chess)')
							table.chess
								tbody
									tr(ng-repeat='row in q.chess.rows')
										th {{row}}
										td(ng-repeat='col in q.chess.columns',
											ng-class='{active: isCoordSelected(q.chess, col + row)}',
											ng-click='toggleCoordSelect(q.chess, col + row)')
								tfoot
									tr
										th
										th(ng-repeat='col in q.chess.columns') {{col}}
							button.btn.btn-primary(ng-click='submitGuessSpecial(q.chess)') #[i.fa.fa-lightbulb-o] Submit
						+solvedSection('q.chess')
					+col(null, null, 6)(ng-show='isSolved(q.crossword.prerequisite)' id='{{_.kebabCase(q.crossword.name)}}')
						h4 Question
							+squaredIcon('q.crossword.icon')
							em(ng-show='isSolved(q.crossword)') ({{q.crossword.display || mc.camelToTitle(q.crossword.name)}})
						div(ng-if='!isSolved(q.crossword)')
							label What is the {{q.crossword.answers[0].length}}-character secret code in the crossword (#8 Down)?
							input.form-control(type='text' ng-model='q.crossword.guess' maxlength='{{q.crossword.answers[0].length}}')
							button.btn.btn-primary(ng-click='submitGuessSpecial(q.crossword)') #[i.fa.fa-lightbulb-o] Submit
						+solvedSection('q.crossword')
					+col(null, 6, 4)(ng-show='isSolved(q.texasHoldEm.prerequisite)' id='{{_.kebabCase(q.texasHoldEm.name)}}')
						h4 Question
							+squaredIcon('q.texasHoldEm.icon')
							em(ng-show='isSolved(q.texasHoldEm)') ({{q.texasHoldEm.display || mc.camelToTitle(q.texasHoldEm.name)}})
						div(ng-if='!isSolved(q.texasHoldEm)')
							label Who is the Big Winner?
							.row
								+col(6)
									input.form-control(type='text' ng-model='q.texasHoldEm.splitGuess.word1' placeholder='First Name')
								+col(6)
									input.form-control(type='text' ng-model='q.texasHoldEm.splitGuess.word2' placeholder='Last Name')
							button.btn.btn-primary(ng-click='submitGuessSpecial(q.texasHoldEm)') #[i.fa.fa-lightbulb-o] Submit
						+solvedSection('q.texasHoldEm')
					+col(null, 6, 4)(ng-show='isSolved(q.connect4.prerequisite)' id='{{_.kebabCase(q.connect4.name)}}')
						h4 Question
							+squaredIcon('q.connect4.icon')
							em(ng-show='isSolved(q.connect4)') ({{q.connect4.display || mc.camelToTitle(q.connect4.name)}})
						div(ng-if='!isSolved(q.connect4)')
							label Which column should Red choose?
							button.btn.btn-warning(data-target=".connect4game" data-toggle="collapse")
								span.connect4game.collapse.in Show game
								span.connect4game.collapse.hidecollapsing Hide game
							//.btn-group.connect4
								button.btn.btn-warning(ng-repeat='column in _.range(1, 8)',
									ng-class='{active: q.connect4.guess === column.toString()}',
									ng-click='toggleColumnSelect(q.connect4, column)') {{column}}
							//img.img-responsive(src='img/connect4.png' alt)
							iframe.connect4game.collapse(src="html/connect4.html" width="354px" height="354px" scrolling="no")
							//button.btn.btn-primary(ng-click='submitGuess(q.connect4)') #[i.fa.fa-lightbulb-o] Submit
						+solvedSection('q.connect4')
					+col(null, 6, 4)(ng-show='isSolved(q.fiveRoutes.prerequisite)' id='{{_.kebabCase(q.fiveRoutes.name)}}')
						h4 Question
							+squaredIcon('q.fiveRoutes.icon')
							em(ng-show='isSolved(q.fiveRoutes)') ({{q.fiveRoutes.display || mc.camelToTitle(q.fiveRoutes.name)}})
						div(ng-if='!isSolved(q.fiveRoutes)')
							label Put the animals in order from the shortest route to the longest route
							ul.list-inline
								li(ng-repeat='oAnimal in q.fiveRoutes.orderedAnimals')
									.panel.panel-info
										.panel-heading #[.panel-title {{$index + 1}}]
										.panel-body
											img.invert-color(ng-src='{{"img/five-routes-" + oAnimal + ".png"}}' alt='{{oAnimal}}')
								li(ng-repeat='num in _.range(q.fiveRoutes.orderedAnimals.length, q.fiveRoutes.animals.length)')
									.panel.panel-info
										.panel-heading #[.panel-title {{num + 1}}]
										.panel-body
							.btn-group
								button.btn.btn-default(
									ng-repeat='animal in q.fiveRoutes.animals',
									ng-click='toggleAnimalSelect(q.fiveRoutes, animal)',
									ng-class='{active: _.includes(q.fiveRoutes.orderedAnimals, animal)}')
									img(ng-src='{{"img/five-routes-" + animal + ".png"}}' alt='{{animal}}')
							button.btn.btn-primary(ng-click='submitGuessSpecial(q.fiveRoutes)') #[i.fa.fa-lightbulb-o] Submit
						+solvedSection('q.fiveRoutes')
					+col(null, 6, 4)(ng-show='isSolved(q.wordFind.prerequisite)' id='{{_.kebabCase(q.wordFind.name)}}')
						h4 Question
							+squaredIcon('q.wordFind.icon')
							em(ng-show='isSolved(q.wordFind)') ({{q.wordFind.display || mc.camelToTitle(q.wordFind.name)}})
						div(ng-if='!isSolved(q.wordFind)')
							h5 Answer the Word Find riddle below...
							label "Not European":
							.row
								+col(6)
									input.form-control(type='text' ng-model='q.wordFind.splitGuess.word1' maxlength='{{q.wordFind.answers[0].split(\' \')[0].length}}')
								+col(6)
									input.form-control(type='text' ng-model='q.wordFind.splitGuess.word2' maxlength='{{q.wordFind.answers[0].split(\' \')[1].length}}')
							button.btn.btn-primary(ng-click='submitGuessSpecial(q.wordFind)') #[i.fa.fa-lightbulb-o] Submit
						+solvedSection('q.wordFind')
					+col(null, 6, 4)(ng-show='isSolved(q.taboo.prerequisite)' id='{{_.kebabCase(q.taboo.name)}}')
						h4 Question
							+squaredIcon('q.taboo.icon')
							em(ng-show='isSolved(q.taboo)') ({{q.taboo.display || mc.camelToTitle(q.taboo.name)}})
						div(ng-if='!isSolved(q.taboo)')
							label.sr-only Which word is Taboo?
							input.form-control(type='text' ng-model='q.taboo.guess' placeholder='Which word is Taboo?')
							button.btn.btn-primary(ng-click='submitGuess(q.taboo)') #[i.fa.fa-lightbulb-o] Submit
						+solvedSection('q.taboo')
				hr
				.row
					+col(null)(ng-show='isSolved(q.jigsaw.prerequisite)' id='{{_.kebabCase(q.jigsaw.name)}}')
						h4 Question
							+squaredIcon('q.jigsaw.icon')
						div(ng-if='!isSolved(q.jigsaw)')
							label Enter the 5-digit Numeric code to escape the room...
							input.form-control(type='text' ng-model='q.jigsaw.guess' placeholder='XXXXX' maxlength='5')
							button.btn.btn-primary(ng-click='submitGuess(q.jigsaw)') #[i.fa.fa-lightbulb-o] Submit
						div(ng-if='isSolved(q.jigsaw)')
							h3 #[i.fa.fa-check] YOU WIN!  YOU'VE ESCAPED THE ROOM!
		| @@javascriptReplaceFiles
